nav.user-menu
  |
  |
  a.btn.btn-flat.waves-effect.show-sm-up(href=link.crypto.login)
    | #{$t.common.login}
  |
  |
  a.btn.waves-effect.primary.show-sm-up(href=link.crypto.register)
    | #{$t.common.register}
  |
  |
  span.spacer.vertical-divider.show-lg-up
  include ./settings
