#feature {
  .more-feature {
    position: relative;
    z-index: 3;
    @include breakpoints-down(md) {
      margin-top: $spacing10;
    }
    figure {
      margin: 0
    }
  }

  .item {
    position: relative;
    @include breakpoints-up(sm) {
      padding: spacing(0, 3, 8);
    }
    @include breakpoints-down(sm) {
      padding-bottom: $spacing5
    }
    p {
      margin-bottom: $spacing3
    }
  }

  .text {
    position: relative;
    @include breakpoints-down(sm) {
      margin: 0
    }
    > span {
      position: absolute;
      @include palette-text-disabled;
      top: -10px;
      font-size: 38px;
      z-index: 2;
      @include left(calc(50% - 7px));
      @include breakpoints-up(md) {
        @include left(7px);
      }
    }
  }

  .text-center {
    span {
      @include left(calc(50% - 7px));
    }
  }

  .illustration {
    img {
      display: block;
      margin: 0 auto;
      max-height: 475px;
      max-width: 475px;
      @include breakpoints-down(md) {
        width: 100%;
      }
    }
  }

  .down {
    color: #FF7272
  }

  .up {
    color: #00c708
  }

  .stay {
    color: #b2b2b2
  }

  .chart-wrap {
    padding: 0;
    @include breakpoints-up(md) {
      padding: spacing(5, 6, 0)
    }
    li {
      margin-bottom: $spacing3;
      list-style: none;
      @include breakpoints-up(sm) {
        display: flex;
        align-items: center;
      }
      h5 {
        font-weight: $font-bold;
        @include breakpoints-down(xs) {
          font-size: 16px !important;
        }
      }
    }
  }

  .coin {
    display: flex;
    align-items: center;
    width: 120px;
    padding-top: $spacing1;
    @include breakpoints-down(xs) {
      @include float(left)
    }
    h5 {
      font-weight: bold;
      font-size: 24px;
    }
    .logo {
      width: auto !important;
      overflow: visible;
      @include margin-right($spacing2);
      @include breakpoints-down(xs) {
        @include margin-right($spacing1);
        width: 20px !important;
        height: 20px !important;
        min-width: 0 !important;
      }
      img {
        @include breakpoints-up(sm) {
          width: 42px;
          height: 42px;
        }
      }
    }
  }

  .price {
    margin-top: $spacing1;
    padding: 0 $spacing5;
    font-weight: $font-medium;
    @include text-align(left);
    white-space: nowrap;
    h6 {
      font-weight: $font-bold;
      font-size: 18px;
    }
    i {
      font-style: normal
    }
  }

  .chart {
    flex: 1;
    @include breakpoints-down(xs) {
      canvas {
        height: 50px !important
      }
    }
  }
}