.container.max-md
  .wow.fadeInUpShort(data-wow-offset='40' data-wow-delay='0.3s' data-wow-duration='0.5s')
    .root
      figure.show-sm-up
        |
        |
        img(src=img_artwork[35] alt='mobile')/
        |
        |
      div
        h3
          | #{$t.crypto_landing.download_mobile}
        .btn-area
          |
          |
          a(href='#')
            img(src=assets+'/images/crypto/app-store.png', alt='app store')/
          |
          |
          a(href='#')
            img(src=assets+'/images/crypto/play-store.png', alt='play store')/
          |
          |
