.invisible-deco
  |
  |
  svg(width='38px', height='43px', viewbox='0 0 38 43', version='1.1')
    defs
      lineargradient#titleLinearGradient-1(x1='34.5063846%', y1='15.1303808%', x2='20.8153155%', y2='110.664023%')
        stop(stop-color='#9C27B0', offset='0%')
        stop(stop-color='#FFA000', offset='100%')
    defs
      lineargradient#hexaLinearGradient-3(x1='66.8412844%', y1='30.62426%', x2='-21.0581447%', y2='100%')
        stop(stop-color='#FFA000', offset='0%')
        stop(stop-color='#FFECB3', offset='100%')
    defs
      lineargradient#hexaLinearGradient-2(x1='66.8412844%', y1='30.62426%', x2='-21.0581447%', y2='100%')
        stop(stop-color='#9C27B0', offset='0%')
        stop(stop-color='#E1BEE7', offset='100%')
    defs
      lineargradient#frmDecoLinearGradient-1(x1='33.650521%', y1='14.3140713%', x2='18.9688557%', y2='110.664023%')
        stop(stop-color='#9C27B0', offset='0%')
        stop(stop-color='#FFA000', offset='100%')
  |
  |
